.container{
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.white{
    height: 100px;
    width: 100px;
    background-color:#f0d9b5;
    display: flex;
    justify-content: space-around;
}
.black{
    height: 100px;
    width: 100px;
    background-color:#bf8863;
    display: flex;
    justify-content: space-around;
}
.pieces{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    align-self: center;
}
.wpieces{
    width: 50px;
    height: 50px;
    background-color: rgb(250, 247, 247);
    border-radius: 50%;
    align-self: center;
}