body{
    background-color: black;
}
.flag{
    height: 400px;
    width: 800px;
    background-color: aliceblue;
    position: relative;
    left: 350px;
    top: 100px;
}
.flag > div{
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 300px;
    top: 100px;
}
h1{
    color: azure;
    text-align: center;
    margin: 0%;
    font-size: 3rem;
}