.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap:2rem;
}
.plan{
    background-color: rgb(207, 205, 204);
    border-radius: 5px;
    flex: 1;
    max-width: 400px;
    text-align: center;
    padding: 15px;
}
.plan>li{
    margin: 15px; 
}
.plan>p{
    font-weight: bold;
    font-size: 20px;
}
li{
    list-style: none;
}
button{
    background-color: gold;
    border-radius: 5px;
    border: 0;
    margin:10px;
}
@media(max-width:1250px){
    .container{
        flex-direction: column;
        height: 100%;

    }
}