#weight{
   
    font-weight: 900;
}
#color{
    color: coral;
}
#size{
    font-size: 2rem;
}
#align{
    text-align: right;
}
body{
    background-color:cornflowerblue ;
    color: aliceblue;
}
#font{
    font-family: cursive;
}