.container{
    
    display:inline-flex;
    border: 5px solid gold;
    flex-direction:column;
   

}
.container div{
    flex-basis: 100px;
}
.one{
    background-color: red;
}
.two{
    background-color: orange;
}
.three{
    background-color: yellow;
}
.four{
    background-color: green;
}
.five{
    background-color: blue;
}
.six{
    background-color: indigo;
}
.seven{
    background-color: purple;
}